* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

}

section {
    height: 100vh;
}

.home {
    background:  linear-gradient(to right, #4daf54, #3d8880);
    padding: 100px;
    color: #fff;
}

.home h1 {
    font-size: 50px;
    margin-bottom: 30px;
}


.home .desc {
    font-size: 25px;
}

.about {
    display: flex;
    align-items: center;
}

.box {
    background: #242628;
    padding: 28px;
    color: #fff;
    margin: 20px 20px;
    height: 200px;
    border-radius: 5px;
}


.box .title {
    font-size: 30px;
}

.team {
    background: linear-gradient(180deg, #017c2c 50%, #fff 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.member {
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    height: 250px;
    background: #fff;
    margin: 20px;
    border-radius: 5px;
    
}

.member .name {
    color: #017c2c;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.left-to-right {
    transform: translateX(-200%);
    transition: 1s;
}

.left-to-right.start {
    transform: translateX(0);
}

.show-on-scroll {
    
}